.parallax {
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
.banner-text {
    height: 100%;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}