.accueilContact {
    height: 50px;
    width: 200px;
    border: solid;
    border-color: #bfbfbf;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;

}
.accrocheImage {
    display: flex;
    height: 80%;
}
.boutonsSections {
    display: flex;
}
.bienvenue {
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    color: white;
}
.blocAccueil {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.blocAccroche {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.boutonContact {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.divFleche {
    display: flex;
    justify-content: center;
}
.divIconFlecheS {
    height: 50px;
    width: 40px;
    animation: bounce 0.5s ease infinite alternate;
}
.divImgAccueil{
    width: 100%;
    height: 100%;
}
.imgAccueil{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
    position: relative;
}
.iconeFlecheBas {
    height: 100%;
    color: white;
}
.logoAccueil {
    width: 200px;
    height: 200px;
}
.logoResponsive {
    display: none;
}
.metier {
    font-size: 55px;
    color: white;
}
.meContacter {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #bfbfbf;
    background-color: white;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-self: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(10px);
}
.meContacter:hover {
    background-color: black;
    color: white;
}
.phraseSavoir {
    color: white;
}
.superposition {
    position: absolute;
    width: 100%;
    height: 100%;
}
.versSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.parallaxContainer {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}