.divTechno {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}
.divCarousel {
    justify-content: center;
    display: flex;
    align-items: center;
}
.imgTechno {
    height: 200px;
    width: 200px;
}
.slider {
    width: 200px;
}
.slick-slide {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    height: 100%; /* Assurez-vous que chaque diapositive prend toute la hauteur */
}
.slick-slider {
    height: 500px;
}
.carousel-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover /* Ajustez la taille de l'image pour qu'elle rentre dans la diapositive */
}
