
.buttonCollapse {
width: 80%;
cursor: pointer;
border-radius: 40px;
margin-bottom: 20px;
}

.collapse {
width: 60%;
margin: 20px;
}

.contenu {
width: 100%;
background-color: black;
border-radius: 20px;
margin-top: 20px;
padding-top: 5px;
padding-bottom: 5px;
transform-origin: top;
animation: ouvertureCollapse 1s;
}

.elementButtonCollapse {
display: flex;
justify-content: space-between;
padding: 10px;
font-size: 20px;
width: 95%;
}



@keyframes ouvertureCollapse {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}