.divImage {
    width: 50%;
    height: 650px;
}
.descriptionProjet {
    display: flex;
    text-align: justify;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}
.divElementProjet {
    padding: 20px;
}
.explicationProjet {
    width: 50%;
    padding: 20px;
    display: flex;
}
.ImgExplication {
    display: flex;
}
.ImgExplicationInverse {
    display: flex;
    flex-direction: row-reverse;
}
.imageProjet {
    height: 100%;
    object-fit: contain;
    width: 100%;
}
.objectifsProjet {
    font-size: 25px;
}
.ResumeProjet {
    font-size: 25px;
}
.technosProjet {
    font-size: 25px;
}
.titreProjetPage {
    color: black;
}