.footer{
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: initial;
}
.coordonnees {
    padding-right: 10px;
}
.copyright{
    color: white;
    display: flex;
    height: 100px;
}
.mentionsLegales {
    width: 33%;
}
.presentation {
    width: 33%;
    padding-right: 10px;
}