.buttonForm {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 5px solid #bfbfbf;
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
    font-size: 18px;
}
.buttonForm:hover {
    background-color: black;
    color: white;
    border: 5px solid #bfbfbf;
    ;
}
.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
.divButtonForm {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.divF{
    background-color: #80808024;
    width: 70%;
    padding: 10px;
}
.divMessagerie {
    font-size: 15px;
}
.formulaireContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
}
.iconForm{
    background-color: grey;
    font-size: 30px;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
input{
    width: 80%;
}
.labelInput{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}
.messageForm {
    overflow-y: scroll;
    height: 200px;
    width: 80%;
    resize: none;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* Maintient le texte sur une seule ligne */
    border: 0;
}
