.menu{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.menu.hidden {
    display: none;
}
.ulMenu {
    font-size: 16px;
    list-style-type: none;
    display: flex;
}
.elementMenu {
    text-decoration: none;
    color: black;
}
.elementMenu:hover {
    color: brown;
    border-bottom: solid;
}
li {
    margin-right: 30px;
}