.menu{
    display: flex;
    flex-direction: row;
    height: 93px;
    margin-right: 40px;
}
.menu.hidden {
    display: none;
}
.ulMenu {
    font-size: 20px;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.elementMenu {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
.elementMenu:hover {
    color: brown;
    border-bottom: solid;
}