.divPresentation{
    display: flex;
    height: 100%;
}
.imgPresentation{
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
}
.divTxtPresentation {
    background-color: #80808024;
    width: 60%;
    padding: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 20px;
    text-align: justify;
}