.elementProjet {
    position: relative;
    height: 100%;
    margin: 5px;
}

.bulleInfo {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Positionnez la bulle au-dessus de l'image */
    left: 50%;
    transform: translateX(-50%);
}

.elementProjet:hover .bulleInfo {
visibility: visible;
}

.imgProjet {
width: 100%;
height: auto;
}